body{
  background-color: black;
  margin: 0;
  padding: 0;
}

body h1 {
  text-align: center;
  font-family: "Jersey 10", sans-serif;
  color: white;
  margin-top: 50px;
  font-size: 50px;
  
}

.battle-arena {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: auto;
  width: 600px;
  height: 600px;
}


#begin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  background-color: white;
  border: none;
  color: black;
  margin: 100px auto;
  padding: 10px 20px;
  font-size: 50px;

}

#begin:hover {
  font-size: 55px;
  cursor: pointer;
}

.pokemon1 {
  position: absolute;
  top: 20%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  font-size: 35px;
  font-family: "Jersey 10", sans-serif;
}

.pokemon2 {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  font-size: 35px;
  font-family: "Jersey 10", sans-serif;
}

.pokemon1-image {
  position: absolute;
  top: 5%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  animation: idle-animation 0.5s infinite;
}

.pokemon2-image {
  position: absolute;
  top: 70%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  animation: idle-animation 0.5s infinite;

}

.pokemon1-hp {
  position: absolute;
  top: 24%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: black;
  font-size: 30px;
  font-family: "Jersey 10", sans-serif;

}

.pokemon2-hp {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: black;
  font-size: 30px;
  font-family: "Jersey 10", sans-serif;
}

.pokemon1-hp, .pokemon2-hp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon1-abilities {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15px;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: rgb(169, 169, 169);
  padding: 5px 5px;
  font-size: 20px;
}

.fight-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: white;
  font-size: 35px;
}

.fight-button:hover {
  cursor: pointer;
  font-size: 37px;
}

.item-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: white;
  font-size: 35px;
}

.item-button:hover {
  cursor: pointer;
  font-size: 37px;
}

.run-button {
  position: absolute;
  top: 90%;
  left: 66%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: white;
  font-size: 35px;
}

.run-button:hover {
  cursor: pointer;
  font-size: 37px;
}

.used-ability {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  font-size: 45px;
}

.move1{
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  font-size: 25px;
}

.move2 {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  font-size: 25px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15px;
  font-family: "Jersey 10", sans-serif;
  border: none;
  padding: 5px 5px;
  font-size: 60px;
}

.start-new-game {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: transparent;
  font-size: 15px;
  font-family: "Jersey 10", sans-serif;
  border: none;
  padding: 5px 5px;
  font-size: 30px;
}

.start-new-game:hover {
  cursor: pointer;
  font-size: 35px;
}

.shake-foe {
  position: relative;
  bottom: 100%;
  left: 100%;
  animation: shake-foe 0.3s;
  animation-iteration-count: infinite;
}

.shake-player {
  position: relative;
  bottom: 100%;
  left: 100%;
  animation: shake-player 0.3s;
  animation-iteration-count: infinite;
}

.attack-foe {
  position: relative;
  bottom: 100%;
  left: 100%;
  animation: attack-foe 0.1s;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}

.attack-player {
  position: relative;
  animation: attack-player 0.1s;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
} 

.foe-has-fainted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  padding: 5px 5px;
  font-size: 30px;
}

.player-has-fainted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  padding: 5px 5px;
  font-size: 30px;
}

@keyframes attack-foe {
  0% { transform: translate(-20%, -90%); }
  50% { transform: translate(-20%, -90%) translateX(-2px) }
  100% { transform: translate(-20%, -90%); }
}

@keyframes attack-player {
  0% { transform: translate(-190%, 100%); }
  50% { transform: translate(-185%, 100%) }
  100% { transform: translate(-190%, 100%); }
}

@keyframes shake-foe {
  0% { transform: translate(-5%, -85%) translateX(1px); }
  25% { transform: translate(-5%, -85%) translateX(-4px); }
  50% { transform: translate(-5%, -85%) translateX(4px); }
  75% { transform: translate(-5%, -85%) translateX(-4px); }
  100% { transform: translate(-5%, -85%) translateX(1px); }
}

@keyframes shake-player {
  0% { transform: translate(-190%, 110%) translateX(1px); }
  25% { transform: translate(-190%, 110%) translateX(-4px); }
  50% { transform: translate(-190%, 110%) translateX(4px); }
  75% { transform: translate(-190%, 110%) translateX(-4px); }
  100% { transform: translate(-190%, 110%) translateX(1px); }
}

@keyframes idle-animation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}