.pokemon1 {
  position: absolute;
  top: 20%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  font-size: 35px;
  font-family: "Jersey 10", sans-serif;
}

.pokemon2 {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  font-size: 35px;
  font-family: "Jersey 10", sans-serif;
}

.pokemon1-image {
  position: absolute;
  top: 5%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  animation: idle-animation 0.5s infinite;
}

.pokemon2-image {
  position: absolute;
  top: 70%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  animation: idle-animation 0.5s infinite;

}

.pokemon1-hp {
  position: absolute;
  top: 24%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: black;
  font-size: 30px;
  font-family: "Jersey 10", sans-serif;

}

.pokemon2-hp {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: black;
  font-size: 30px;
  font-family: "Jersey 10", sans-serif;
}

.pokemon1-hp, .pokemon2-hp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon1-abilities {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15px;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: rgb(169, 169, 169);
  padding: 5px 5px;
  font-size: 20px;
}

.fight-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: white;
  font-size: 35px;
}

.fight-button:hover {
  cursor: pointer;
  font-size: 37px;
}

.item-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: white;
  font-size: 35px;
}

.item-button:hover {
  cursor: pointer;
  font-size: 37px;
}

.run-button {
  position: absolute;
  top: 90%;
  left: 66%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  background-color: white;
  font-size: 35px;
}

.run-button:hover {
  cursor: pointer;
  font-size: 37px;
}

.used-ability {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  font-size: 45px;
}

.move1{
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  font-size: 25px;
}

.move2 {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Jersey 10", sans-serif;
  border: none;
  font-size: 25px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15px;
  font-family: "Jersey 10", sans-serif;
  border: none;
  padding: 5px 5px;
  font-size: 60px;
}